<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<body>
	<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>My Webpage</title>
</head>
<style type="text/css">
    #pipe ul {
 	margin-left: 0;
 	padding-left: 0;
 	display: inline;
 	} 
 	#pipe ul li {
 	margin-left: 0;
 	padding: 3px 15px;
 	border-left: 1px solid #000;
 	list-style: none;
 	display: inline;
 	}
 	.center
 	{
 		text-align:center
 	}
 	</style>
<!--<div id="pipe">-->
  <div id="pipe"> 
  <ul>
  <li><a href="{{ a_random_string[0] }}">{{ a_random_list[0] }}</a></li>
  <li><a href="{{ a_random_string[1] }}">{{ a_random_list[1] }}</a></li>
  <li><a href="{{ a_random_string[2] }}">{{ a_random_list[2] }}</a></li>
  </div></ul>
  <div class="center"><h1>Vicki's Web Page</h1></div>
  <div class="center"><h4>Welcome to my page!</h4></div>
<!--</div>-->
</body>
</html>