<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<body>
	<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <title>My Webpage</title>
</head>
<style type="text/css">
 	h1 {color:#CDA9EE; text-align:center;}
 	h4 {color:#3C5175; text-align:center;}
 </style>
  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">VE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ a_random_string[0] }}">{{ a_random_list[0] }}</a></li>
        <li><a href="{{ a_random_string[1] }}">{{ a_random_list[1] }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ a_random_string[2] }}">{{ a_random_list[2] }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
 <!--<div class="panel panel-danger">
 	<div class="panel-heading">
 		<div class="center"><h1>Vicki's Web Page</h1></div>
  		</div>
  </div>
 	<div class="panel-body">
 		<div class="center"><h4>Welcome to my page!</h4></div>-->
 		<div class="well well-lg">
 			<div class="center"><h1>Vicki's Web Page</h1></div>
 			<div class="center"><h4>Welcome to my page!</h4></div>
 		</div>
 	</div>
    
  
  
  
<!--</div>-->
</body>
</html>