<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Recipe Bx | Search</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1>Recipe Bx</h1>
        <hr>
      </div>
      <div class="col-lg-3">
        <br>
        <button type="button" class="btn btn-primary btn-sm">account information</button>
      </div>
    </div>

    <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-6">

      <div class="row well well-md">
        <div class="row">
          <div class="col-md-10">
            <h4><b>{% for item in list %}
                  <li>{{item}}</li>
                  {% endfor %}</b></h4>
          </div>
          <div class="col-md-2" style="color:rgb(255,0,0)">
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-sm">Recipe</button>
          </div>
        </div>
      </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="js/bootstrap.min.js"></script>-->
  </body>
</html>